@model FeedForwardBusinessEntities.EntityModels.UserLoginViewModel
@{
    Layout = null;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
   

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    
        <center>
            <p>"Welcome"</p>
            <br/>
            @Html.ActionLink("Return to Login Page", "UserLogin", "UserManagment")


        </center>
  <br />
    @Html.Partial("_MyPartialView")
</body>
</html>
