@model FeedForwardBusinessEntities.EntityModels.UserLoginViewModel
@{
    Layout = null;
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    
        <center>
            <p>"Welcome"</p>

        </center>
  <br />
    @Html.Partial("_MyPartialView")
</body>
</html>
