
@{
    Layout = null;
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aboutus</title>
    
</head>
<body>
    <center>
        <p>HI</p>
        <br />
        
        <p>"This is About us page"</p>
        <br/>
        <p>@Html.ActionLink("Return to Login Page", "UserLogin")</p>

    </center>
    <br/>
    @Html.Partial("_MyPartialView")

</body>
</html>
