
@{
    Layout = null;
     Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contactus</title>
</head>
<body>
  <center>
      <p>Hello</p>
      <br />
      <p>"please use this below number to contact us"</p>
      <br />
      <p>7997677157</p>

        @Html.ActionLink("Return to Login Page", "UserLogin")
  </center>
  <br/>
    @Html.Partial("_MyPartialView")
</body>
</html>
