<div>
    <p style="background-color:lightblue;border-style:solid;color:black">
        For Any Suggestions And Complaints<br/>
        Contact:989898989 Mail:abc@gmail.com <br/>
       
    </p>

    
</div>
